body {
  background-color: darkolivegreen;
}
h1   {
  text-align: center;
  color: white;
  font-family: couriernew
}
h2 {
  text-align: center;
  color: white;
  font-family: couriernew
}
p    {
  text-align: center;
  color: white;
  font-family: couriernew
}
img { 
  display: block;
  margin-left: auto;
  margin-right: auto;
}
